<h1>Eldest director</h1>
<span>The eldest director in our database right now is <a href="/directors/<%= @the_eldest_director.id %>"><%= @the_eldest_director.name %></a>, who was born on <%= @the_eldest_director.dob.strftime("%B %d, %Y") %>.</span>